<p>second works!</p>

<div class="row">
    <div class="col-md-4">
        <p #email>deshmukh.7177@gmail.com</p>
        <textarea name="myArea" id="myArea" #myArea>
        
        </textarea>
        
        <input type="text" name="name" id="name" #myName ngModel>
        &nbsp;
        <button [disabled]="myName.value.length===0" class="btn btn-primary" (click)="sendInputVal(myName,email,myArea)">Click</button>
    </div>
   </div>

   <div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" (click)="changePath()" >Submit</button>
        </div>
        </div>