<p>userlist works!</p>
<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <a [routerLink]="['/listuser',1,'Yogesh']">Yogesh Deshmukh Account Detalis</a>
            </li>
            <li class="list-group-item">
                <a [routerLink]="['/listuser',2,'Asmita']">Asmita Deshmukh Account Detalis</a>
            </li>
            <li class="list-group-item">
                <a [routerLink]="['/listuser',1,'Aaryahi']">Aaryahi Deshmukh Account Detalis</a>
            </li>
            
        </ul>
    </div>
</div>